rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // User profile images
    match /Users/{fileName} {
      allow read: if true; // 누구나
      allow create, update, delete: if request.auth != null; // 로그인한 유저만
    }
    
    // Community images
    match /Communities/{fileName} {
      allow read: if true; // 누구나
      allow create, update, delete: if request.auth != null; // 로그인한 유저만
    }

    // Chat images
    match /Chats/{fileName} {
      allow read: if request.auth != null; // 로그인한 유저만
      allow create: if request.auth != null; // 로그인한 유저만
    }
  }
}